* {
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
html {
    font-family: "helvetica neue , sans-serif";
}
ul, li, a {
    list-style: none;
    text-decoration: none
}
body {
   background-image: url(img/dots.png); 
   font-family: Arial, Helvetica, sans-serif;
   font-style: 18px;
}
a{
    color: rgb(106, 105, 105);
}
.menu__list{
    position: fixed;
    right: 10px;
    top: 10px;
}
.menu__list {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    justify-content: space-evenly;
}
.popup {
    display: block;
    background-image: url(icons/popup-button.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.bell {
    display: block;
    background-image: url(icons/bell.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    height: 25px;
    width: 25px;
}
.me {
    display: block;
    background-image: url(img/userpic.jpeg);
    border-radius: 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}
.greed {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 90px);
    list-style: none;
    padding: 10px;
    
}
.nav {
    
    text-align: center;
    height: 24px;
 /*   line-height: 30px; */
    
}
.icons {
    width: 40px;
   
}
.popup__link {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    align-content: center;
    align-self: baseline;
   /* border: 1px solid black;*/
}
p {
    margin: 5px ;
    
}



.menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 45px;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px rgba(40, 42, 44, 0.398);
    max-height: 300px;
    overflow-y: auto;
    transform: translateX(-60%);
    left: 50%;
}



#toggle {
    display: none;
}



    label {
        display: flex;
        cursor: default;
        justify-content: center;
        width: 24px;
        height: 24px;
        

        
        
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        
    }
    .menu a {
        display: block;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
    






