* {
    margin: 0;
    padding: 0;
}
ul, li, a {
    list-style: none;
    text-decoration: none
}
body {
   background-image: url(img/dots.png); 
   font-family: Arial, Helvetica, sans-serif;
   font-style: 18px;
}
a{
    color: rgb(106, 105, 105);
}
.menu__list{
    position: fixed;
    right: 10px;
    top: 10px;
}
ul {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    justify-content: space-evenly;
}
.popup {
    display: block;
    background-image: url(icons/popup-button.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
}
.bell {
    display: block;
    background-image: url(icons/bell.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    height: 25px;
    width: 25px;
}
.me {
    display: block;
    background-image: url(img/userpic.jpeg);
    border-radius: 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}